<form id="simple-login-form">
    <input type="text" id="username" name="username">
    <input type="text" id="password" name="password">
</form>
<button id="login-submit"  onclick="sendLogin()">Login</button>