<form id="simple-register-form">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="text" name="confirm-password">
</form>
<button onclick="sendRegister()">Register</button>