<link href="../css/projects.css" rel="stylesheet" type="text/css" />

<section class="content">
  <section class="d-flex justify-content-center content-section">
    <div class="projects container">
      <div class="row">
        <div id="image-optimizer" class="container text-center project-box col-12 col-md-6 col-lg-3">
          <div class="row align-items-center text-center">
            <h2>Image Optimizer</h2>
            <form id="optimizer-upload-form">
              <select class="form-select" name="conversionType" id="conversion-type"
                onchange="updateOptions('conversion-type')">
                <option id="original" value="original">Original Format</option>
                <option id="webp" value="webp">WebP</option>
              </select><br>

              <select class="form-select" name="lossLess" id="loss-less" onchange="updateOptions('loss-less')">
                <option id="lossless" value="lossless">Lossless</option>
                <option id="lossy" value="lossy">Lossy</option>
              </select><br>

              <div class="invisible" id="qual-container">
                <label id="qual-label" for="qual">Quality: <span id="qual-display">50</span></label>
                <input class="form-range" type="range" id="qual" name="qual" min="1" max="100" step="1"
                  onchange="updateQual(this.value)" oninput="updateQual(this.value)"><br>
              </div>

              <label for="fileupload">Upload Image (png, jpeg, jpg):</label><br>
              <input class="form-control" id="fileupload" type="file" name="fileupload" accept=".png, .jpeg, .jpg" />

            </form>

            <div id="button-container">
              <button class="btn btn-outline-primary" id="optimizer-upload" onclick="optimizer()"> Upload </button>
              <button class="btn btn-outline-success d-none" id="optimizer-download"
                onclick="downloadFile('optimizer')"> Download </button><br>
            </div>
            <h3 id="opti-loading-text" class="loading-text"></h3>
          </div>
        </div>
      
        <div id="simple-login" class="container text-center project-box col-12 col-md-6 col-lg-3 d-none">
          <div class="row align-items-center text-center">
            <h2>Simple Login</h2>
          </div>
          <div class="row align-items-center text-center" id="account-box">
            <form>
              <button class="btn btn-light" id="req-login" onclick="reqLogin(event)"> Login </button>
              <br>
              <button class="btn btn-info" id="req-register" onclick="reqRegister(event)"> Register </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<script type="text/javascript" src="../js/projects-script.js"></script>