
<link href="../css/resume.css" rel="stylesheet" type="text/css" />

<section class="d-flex justify-content-center content-section">
  <iframe height="800px" width="1000px" id="resume-embed" src="https://docs.google.com/document/d/e/2PACX-1vTJIZTA-NBGDoxBrZgkNU0CdSEaGiIrx7eYXBrQnj710JKoTSQqms5CsuB3GolWYLLOfwE8xlb5zqn6/pub?embedded=true" allow="autoplay"></iframe>

</section>
