.project-box {
  width: 400px;
  background: #2B3035;
  border-radius: 50px;
  padding: 10px;
}

.upload-button, .download-button {
  width: 25%;
}

#button-container {
  margin: 20px auto;
}

#image-optimizer {
  height: 450px;
}

#qual {
  margin-bottom: 15px;
}