html {
  padding: 0;
}

body {
  background-color: #343949;
  color: black;
  font-family: 'Manrope', sans-serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



#hero-container {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition-duration: 1s;
}

@media only screen and (max-width: 767px){
  #hero-container {
    background-size: 900px;
    height: 75vh;
  }
}

#hero-content-img {
  height: min(20vw, 200px);
  width: min(20vw, 200px);
  display: flex;
  margin: auto;
  margin-top: 10px;
  border-radius: 100%;
  border: 1vw rgba(255, 255, 255, .5) solid;
}

#hero-content-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  object-position: center;
}

#hero-section {
  text-align: center;
  color: #040F0F;
  text-shadow: 0 0 5px white;
}

.content-section {
  background-color: #3F4559;
  padding: 20px;
  margin: 50px 0 50px 0;
  min-height: 200px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #3F4559;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.footer span {
  position: relative;
  top: 15px;
  vertical-align: middle;
}